.demo {
    color: red;
    margin: 20px;
}
/* .demo2 {
    width: 500px;
    height: 100px;
    background-color: yellow;
    padding: 20px;
} */
.demo-para {
    padding: 10px 50px;
    background-color: #fff;
}